*.o
*.cmd
*.lo
*.la
*.pc
*.ko
*.swp
*.gcno
*.m4

!acx_pthread.m4
m4/
!libs/libevent-2.0.21-stable/m4/

common_string.h

Makefile.in
Makefile
!kmod/Makefile
aclocal.m4
autom4te.cache/
config.*
configure
.deps
.libs
ltmain.sh
libtool
depcomp
install-sh
missing
stamp-h1

kmod/.tmp_versions/
kmod/Module.symvers
kmod/hadm_kmod.mod.c
kmod/hadm_trace.mod.c
kmod/modules.order

libs/libevent-2.0.21-stable/compile
libs/libevent-2.0.21-stable/include/event2/event-config.h
libs/libevent-2.0.21-stable/sample/dns-example
libs/libevent-2.0.21-stable/sample/event-test
libs/libevent-2.0.21-stable/sample/hello-world
libs/libevent-2.0.21-stable/sample/http-server
libs/libevent-2.0.21-stable/sample/le-proxy
libs/libevent-2.0.21-stable/sample/signal-test
libs/libevent-2.0.21-stable/sample/time-test
libs/libevent-2.0.21-stable/test/bench
libs/libevent-2.0.21-stable/test/bench_cascade
libs/libevent-2.0.21-stable/test/bench_http
libs/libevent-2.0.21-stable/test/bench_httpclient
libs/libevent-2.0.21-stable/test/regress
libs/libevent-2.0.21-stable/test/rpcgen-attempted
libs/libevent-2.0.21-stable/test/test-changelist
libs/libevent-2.0.21-stable/test/test-eof
libs/libevent-2.0.21-stable/test/test-init
libs/libevent-2.0.21-stable/test/test-ratelim
libs/libevent-2.0.21-stable/test/test-time
libs/libevent-2.0.21-stable/test/test-weof

src/hadm_main
src/hadmctl

# Emacs stuff
.dir-locals.el

# tags
/tags
/TAGS

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS
